.watomic-container::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background-image: url("../assets/Mask\ Group\ 1@2x.png");
  transform: rotate(180deg);
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
  filter: brightness(150%);
}
.watomic-container {
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.watomic-container h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 900;
}
.watomic-container span {
  color: #f44611;
}
.watomic-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 2rf 1rf; */
  z-index: 999;
  align-items: end;
  column-gap: 50 px !important;
  justify-items: center;
}

.izquierda {
  display: flex;
  flex-direction: column;
}
.izquierda img {
  position: absolute;
  top: 22%;
}

.handleLista {
  color: #fff;
  font-weight: 700;
}
.izquierda ul {
  list-style-position: outside;
  letter-spacing: 0.5px;
}

.handleLista li {
  position: relative;
  padding-left: 0;
  grid-row-start: 1;
  color: #f44611;
  list-style-type: none;
  font-weight: 700;
  margin-bottom: 20px;
  list-style-position: inside;
  text-indent: -1.9rem;
  font-size: 24px;
  line-height: 16px;
}

/* li {
  color: #f44611;
  list-style-type: none;
}*/
.handleLista li span {
  color: white;
  font-weight: 500;
}
.handleLista li:before {
  border: 2px solid #f44611;
  border-radius: 50%;
  margin-right: 10px;
  content: "\2713";
  font-size: 15px;
  line-height: 24px;
  vertical-align: middle;
}
.footer {
  height: 100vh;
  width: 100%;
  background-color: darkblue;
  background-position-y: 125%;
  max-width: 80%;
  padding-left: 10%;
  border-radius: 30px;
}

.background-images {
  height: 100vh;
  width: 100%;
  content: "";
  position: absolute;
  top: 54%;
  border-radius: 13%;
  background-color: #2271b3;
  /* background-image: url(../assets/Mask\ Group\ 1@2x.png);
  filter: grayscale(100%); */
  opacity: 0.8;
}
.centro {
  padding-left: 80px;
}
.centro ul {
  letter-spacing: 0.5px;
}
.derecha ul {
  letter-spacing: 0.5px;
}
